page-tab1 {
  
   
.toolbar-background {    // Background color to toolbar Aleksi Ukkonen 1601558
    background-color: #1E0392
   
    
  }


.content{ //color to text of my page and with font changes Aleksi Ukkonen 1601558
    color: white;
    font-size:18px;	
    font-size:18px;	
 
}





}