<ion-header>
  <ion-navbar color="primary">
    <ion-title><font color="white">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Create account</font></ion-title>
  </ion-navbar>
</ion-header>
<style>.content {
  max-width: 1950px;
  margin: 0px;
  background: #4F9BF8;
  padding:10px;
}</style>
<!-- Making up signup FormGroup, theres also some errors what i cant figure out Aleksi Ukkonen 1601558 -->
<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!signupForm.controls.email.valid && 
        signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <!-- Showign error message if email not valid Aleksi Ukkonen 1601558 -->
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && 
    signupForm.controls.email.dirty"> 
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password"  placeholder="Your password"
        [class.invalid]="!signupForm.controls.password.valid &&
        signupForm.controls.password.dirty"></ion-input>
    </ion-item>
       <!-- Showign error message if password not valid Aleksi Ukkonen 1601558 -->
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && 
    signupForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
       <!-- Making create account button Aleksi Ukkonen 1601558 -->
    <button ion-button block type="submit">
      Create an Account
    </button>

  </form>

</ion-content>